@import '../../components/variables.scss';

body {
    background: #e4e4e4 url('./bg.jpg') no-repeat center top;
    background-size: cover;
    height: 100%;
    padding:0;
    margin: 0;
}

header {
    background-color: transparent;
}

.container {
    width: 1050px;
    display: block;
    margin: 60px auto 0 auto;
}

.title {
    text-align: center;
    color: #fff;
    font-weight: 500;
    margin-top: 99px;
    margin-bottom: 0;
}

.highlight {
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: underline;
}

.howItWorks {
    margin-top: 65px;
    padding: 44px calc(65% - 627px);
    background-color: rgba(23, 25, 35, 0.3);
    border-radius: 3px;
}

.howItWorks h1 {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}

.howCont {
    width: 30%;
    display: inline-block;
    margin-left: 24px;
    color: #fff;
}

.howCont p {
    font-size: 15px;
    text-align: center;
}

.howCont img {
    width: 75px;
    margin: 0 auto;
    display: block;
}
