@import '../../components/variables.scss';

.title {
  display: inline-block;
  font-size: 23px;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }

  a {
    color: #65758C;
    text-decoration: none;
  }
}

.totalAnswers {
  color: #B1B1B1;
  display: inline-block;
  font-size: 19px;
  margin-left: 20px;
}

.tagsHeader {
  background: transparent url('./tag-icon.png') no-repeat 0 center;
  background-size: 30px;
  color: #476C8F;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
  padding-left: 30px;
}

.author {
  color: #476C8F;
  float: right;
}
