@import '../../components/variables.scss';

.root {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.label {
  font-size: 14px;
  color: #5c5c5c;
}

.tag {
  font-size: 14px;

  a {
    color: #fc4800;
    text-decoration: none;
  }
}
