.root {
  float: right;
  padding-top: 50px;
}

.linkAsk {
  background-color: #F25D00;
  border-radius: 3px;
  padding: 13px 13px;
  color: #fff;
  text-decoration: none;
  margin-left: 15px;

  &:hover {
    background-color: #FF6A00;
  }
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
}

.link {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
