.root {
  float: right;
  padding-top: 50px;
}

.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em; /* ~18px */
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.askAQuestion {
  background-color: #F25D00;
  border-radius: 3px;
  padding: 13px 13px;
  color: #fff;
  text-decoration: none;
  margin-left: 15px;

  &:hover {
    background-color: #FF6A00;
  }
}

.category {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}
