@import '../../components/variables.scss';

.root {
  width: 933px;
  margin: 60px auto 0 auto;
}

.title {
  background: #FFF url('./question-icon.png') no-repeat 35px center;
  border-radius: 3px;
  box-shadow: 0 0 3px #BFBDBD;
  color: #595B67;
  font-size: 25px;
  font-weight: 700;
  padding: 20px 35px;
  padding-left: 65px;
}
