@import '../../../components/variables.scss';

.search {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 50px;
}

.backLink {
  color: #f25d00;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  margin: 35px 0;
}

.title {
  color: #595B67;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
}

.description {
  margin: 55px 0 20px;
  padding-bottom: 20px;
  color: #5c5c5c;
  border-bottom: 1px solid #e4e4e4;
}

.author {
  margin-left: 10px;
  font-size: 14px;
  color: #4f5d73;
}

.answer {
  margin-bottom: 25px;
}

.answers,
.addAnswer {
  margin-top: 50px;
}

.answersTitle {
  color: #4F5D73;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 36px;
}

.addAnswerTitle {
  font-size: 14px;
  color: #4F5D73;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.answerInput {
  width: 100%;
  border: 2px solid #f1f1f1;
  min-height: 80px;
  padding: 10px;
}

.addButton {
  font-size: 16px;
  width: 124px;
}
