@import '../../components/variables.scss';

.description {
  border-radius: 3px;
  border: 2px solid #F1F1F1;
  padding: 15px;
}

.footer {
  margin-top: 15px;
}

.author {
  font-weight: 700;
  color: #476C8F;
}
