.alert-box {
    font-size: 17px;
    width: 933px;
    display: block;
    background-color: #555;
    margin: 30px auto 0;
    border-radius: 3px;
    padding: 30px 50px;
    box-shadow: 0 0 5px #CACACA;
}

.alert-box span {
    font-weight: bold;
    text-transform: uppercase;
}

.error {
    background: #ffecec;
    border: 1px solid #f5aca6;
}

.success {
    background: #e9ffd9;
    border: 1px solid #a6ca8a;
}

.warning {
    background: #fff8c4;
    border: 1px solid #f2c779;
}

.notice {
    background: #e3f7fc;
    border: 1px solid #8ed9f6;
}