.form-cont h1 {
    text-align: center;
    color: #595B67;
    font-weight: 400;
    font-size: 40px;
    margin: 30px auto 0;

}

section.form-cont-ask form {
    width: 933px;
    background-color: #fff;
    margin: 30px auto 0;
    border-radius: 3px;
    padding: 30px 50px;
    box-shadow: 0 0 5px #CACACA;
}

section.form-cont-config form {
    width: 647px;
    background-color: #fff;
    margin: 30px auto 0;
    border-radius: 3px;
    padding: 30px 50px;
    box-shadow: 0 0 5px #CACACA;
}

section.form-cont-ask h1 {
    color: #65758C;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

section.form-cont-ask input,
section.form-cont-ask textarea {
    width: 96%;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
}

section.form-cont-ask textarea {
    margin-top: 20px;
    height: 100px;
    padding: 15px 15px;
    font-size: 15px;
}

h1.tags-title-form {
    margin-top: 20px !important;
}

div.preview {
    width: 870px;
    padding: 25px;
    border: 1px dotted #595B67;
    margin: 30px auto 0 ;
}

div.question-description h1,
div.answers h1,
div.question-description h2,
div.answers h2,
div.question-description h3,
div.answers h3,
div.question-description h4,
div.answers h4,
div.question-description h5,
div.answers h5,
div.question-description h6,
div.answers h6,
div[class^='editor-preview'] h1,
div[class^='editor-preview'] h2,
div[class^='editor-preview'] h3,
div[class^='editor-preview'] h4,
div[class^='editor-preview'] h5,
div[class^='editor-preview'] h6,
div.preview div.markdown h1,
div.preview div.markdown h2,
div.preview div.markdown h3,
div.preview div.markdown h4,
div.preview div.markdown h5,
div.preview div.markdown h6 {
    color: #65758C;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
}

div.question-description h1,
div.answers h1,
div[class^='editor-preview'] h1,
div.preview div.markdown h1 {
    font-size: 20px;
}
div.question-description h2,
div.answers h2,
div[class^='editor-preview'] h2,
div.preview div.markdown h2 {
    font-size: 18px;
}
div.question-description h3,
div.answers h3,
div[class^='editor-preview'] h3,
div.preview div.markdown h3 {
    font-size: 16px;
}
div.question-description h4,
div.answers h4,
div[class^='editor-preview'] h4,
div.preview div.markdown h4 {
    font-size: 14px;
}
div.question-description h5,
div.answers h5,
div[class^='editor-preview'] h5,
div.preview div.markdown h5 {
    font-size: 12px;
}
div.question-description h6,
div.answers h6,
div[class^='editor-preview'] h6,
div.preview div.markdown h6 {
    font-size: 10px;
}

div.question-description ul,
div.answers ul,
div.question-description ol,
div.answers ol,
div.question-description li,
div.answers li,
div[class^='editor-preview'] ul,
div[class^='editor-preview'] ol,
div[class^='editor-preview'] li,
div.preview div.markdown ul,
div.preview div.markdown ol,
div.preview div.markdown li {
    margin-left: 5px;
    padding-left: 5px;
    color: #000;
}

div.question-description li,
div.answers li,
div[class^='editor-preview'] li,
div.preview div.markdown li {
    margin-top: 5px;
    display: list-item;
}

div.question-description table,
div.answers table,
div.question-description th,
div.answers th,
div.question-description td,
div.answers td,
div.preview div.markdown table,
div.preview div.markdown th,
div.preview div.markdown td {
    border-spacing: 10px 5px;
}

div.question-description table,
div.answers table,
div.question-description td,
div.answers td,
div.preview div.markdown table,
div.preview div.markdown td {
    border-radius: 3px;
    box-shadow: 0 0 3px #BFBDBD;
    padding: 5px 0;
    margin: 10px 5px;
}

div.question-description th,
div.answers th,
div.question-description thead,
div.answers thead,
div[class^='editor-preview'] th,
div[class^='editor-preview'] thead,
div.preview div.markdown th,
div.preview div.markdown thead {
    border-radius: 5px;
    box-shadow: 0 0 3px #333;
    background-color: #EEE;
    padding: 2px 5px;
}

div.preview div.markdown code {
    font-size: larger;
    border-radius: 2px;
    box-shadow: 0 0 3px #5aa;
    background-color: #EEE;
    color: #333;
    padding: 0px 2px;
    margin: 0px;
}

div.question-description a,
div.answers a,
div[class^='editor-preview'] a,
div.preview div.markdown a {
    text-decoration: underline;
    font-weight: 400;
    color: #2C83FF;
}

div.question-description a:hover,
div.answers a:hover,
div[class^='editor-preview'] a:hover,
div.preview div.markdown a:hover {
    text-decoration: none;
    color: #8595AC;
}

input.cancel-ask,
input.submit-ask {
    display: inline-block;
    width: 124px !important;
    background-color: #B5B5B5;
    border: 0 !important;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.submit-ask {
    background-color: #4285F4 !important;
}

input[type="text"],
input[type="textarea"] {
    padding: 5px 15px;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
}
