html,
body {
    height: 100%;
}

body {
    background-color:#fff;
    font-family: 'PT Sans', sans-serif;
}

header {
    height: 115px;
    background-color: #595B67;
}

body,
ul {
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

p {
    line-height: 23px;
}

li,
.menu li {
    margin-right: 10px;
    display: inline-block;
}

.header-wrapper {
    width: 930px;
}

header,
.header-wrapper {
    margin: 0 auto;
}

header,
.notifications-li {
    width: 100%;
}

.logo {
    background-image: url(/img/logo.png) no-repeat center;
    padding-top: 40px;
    height: 35px;
}

.menu {
    padding-top: 45px;
}

.menu-logout {
    padding-top: 50px;
}

.menu-profile-photo {
    padding-top: 40px;
}

.profile-header-photo {
    border-radius: 100%;
    vertical-align: middle;
    height: 40px;
    margin: 0px 5px;
}

.profile-profile-photo {
    border-radius: 100%;
    vertical-align: middle;
    height: 50px;
    margin: 0px 20px;
}

.menu, .menu-logout,
.unanswered-q {
    position: relative;
}

.menu li {
    font-size: 13px;
}

.menu li, .menu-logout li,
.title,
.unanswered-q {
    font-family: 'Lato', sans-serif;
}

.positioning:after,
li,
.menu li, .menu-logout li,
.ask-question,
.title,
.title span,
.category,
#go_signin > input,
.logout,
a.user-info,
.notifications-icon {
    color: #fff;
}

#go_signin {
    width: auto;
    margin-top: 50px;
}

.menu, .menu-logout, .menu-profile-photo,
#go_signin {
    float: right;
}

.unanswered-q,
#go_signin > input,
.logout,
.menu li,
.menu-logout, {
    text-transform: uppercase;
}

#go_signin > input,
.logout {
    border: 1px solid;
    background-color: transparent;
    font-size: 14px;
    margin-top: -13px;
    cursor: pointer;
}

#go_signin > input,
.logout,
.ask-question {
    padding: 13px 13px;
    margin-left: 15px;
}

#go_signin > input,
.logout,
.ask-question {
    border-radius: 3px;
}

.ask-question,
.user-info,
.category,
.logout {
    text-decoration: none;
}

.notifications-icon {
    font-size: 21px;
}

a.notifications-icon:after {
    height: 10px;
    width: 10px;
    background-color: #FC4800;
    border-radius: 100%;
    right: 127px;
    top: 44px;
}

.notifications-li {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.notifications-li,
.unanswered-q {
    color: #4F5D73;
}

.close-improvement {
    color: #F55363;
}

.title span,
.category:hover {
    text-decoration: underline;
}

.improvement {
    color: #2DD660;
}

.added-tag {
    color: #0D9AFF;
}

li.notifications-li i {
    margin-right: 5px;
}

#go_signin > input,
.logout,
.ask-question,
.user-info {
    transition: background-color 0.5s ease;
}

.ask-question {
    background-color: #F25D00;
}

.ask-question:hover {
    background-color: #FF6A00;
}

.title {
    font-weight: 400;
    font-size: 36px;
    margin-top: 65px;
    margin-bottom: 0;
}

.title span {
    font-weight: 700;
}

.unanswered-q {
    padding: 55px 0 64px;
    font-size: 26px;
}

.title,
.unanswered-q {
    text-align: center;
}

.unanswered-q::after {
    width: 100px;
    background-color: #e4e4e4;
    display: block;
    top: 62%;
    height: 4px;
    left: 45%;
}

a.notifications-icon:after,
.unanswered-q::after {
    content: '';
    position: absolute;
}

.suggestion-wrapper {
    width: 933px;
    display: block;
    margin: 15px auto 95px auto;
}

.date {
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
    color: #5C5C5C;
    margin-top: 10px;
}

.date i {
    color: #4F5D73;
}

.search-container{
    font-size: 17px;
    display: block;
    margin: 30px auto 0;
    padding: 0 50px;
    text-align: center;
}

.positioning:after {
    content: '\f002';
    font-family: FontAwesome;
    top: 13px;
    right: 65px;
    font-size: 21px;
}

h1.title.public {
    font-size: 40px;
    width: 54%;
    margin: 91px auto 120px auto;
}

h1.title.public span {
    color: #00D8FF;
    text-decoration: none;
}

.unanswered .unanswered-link {
    color: blue;
}

.newest .newest-link {
    color: blue;
}

.newest .unlinked,
.unanswered .unlinked {
    color: white;
}