.body-home {
    background: url(/img/bg.jpg) no-repeat center top, url(/img/bg.jpg) no-repeat center bottom;
    background-size: cover;
}

.body-home .search-container,
.body-home header {
    background-color: transparent;
}

.body-home .search-container {
    border: 0;
}

.section-how {
    width: 100%;
    padding-bottom: 150px;
}

.how-cont {
    color: #fff;
}

.section-how,
.how-it-works {
    background-color: #fff;
}

.how-it-works {
    border-radius: 3px;
    margin: 0 auto;
    width: 1024px;
}

.how-it-works h1 {
    font-size: 22px;
    font-weight: 500;
    color: #696969;
    margin-bottom: 0;
}

.how-title {
    padding: 85px 0 65px;
    font-size: 26px;
    text-transform: uppercase;
    color: #4F5D73;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.how-title::after {
    content: '';
    position: absolute;
    width: 100px;
    background-color: #e4e4e4;
    display: block;
    top: 127px;
    height: 4px;
    left: 457px;
}

.how-cont {
    width: 30%;
    display: inline-block;
    margin-left: 24px;
}

.how-cont p {
    font-size: 15px;
    color: #666;
    margin-top: 10px;
}

.how-cont img {
    width: 75px;
    margin: 0 auto;
    display: block;
}

.how-it-works h1,
.how-title,
.how-cont p {
    text-align: center;
}

.nuuk-tip {
    color: #fff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
}