.no-results-cont {
    text-align: center;
    margin-top: 55px;
}

.accepted-answer {
    background-color: #F2F7FF;
    border: 1px solid #BAD4E0;
}

.no-results-cont p {
    color: #4F5D73;
}

.no-results-message {
    display: inline-block;
    background-color: #FFF0F0;
    padding: 25px;
    border: 1px solid #FFC2BF;
    font-size: 20px;
    color: #F56E67;
}