html {
    height: 100%;
}

body {
    /*background: url(/img/bg.jpg) no-repeat center top, url(/img/bg.jpg) no-repeat center bottom;*/
    background-color:#fff;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;;
}

.body-home {
    background: url(/img/bg.jpg) no-repeat center top, url(/img/bg.jpg) no-repeat center bottom;
    background-size: cover;
}

.body-home header {
    background-color: transparent;
}

/*.body-home .suggestion-wrapper {
    width: 1050px;
}*/

header {
    width: 100% margin : 0 auto;
    height: 115px;
    background-color: #595B67;
}

p {
    line-height: 23px;
}

.header-wrapper {
    width: 930px;
    margin: 0 auto;
}

form#go_signin {
    width: auto;
    float: right;
    margin-top: 50px;
}

form#go_signin > input,
.logout {
    border: 1px solid;
    background-color: transparent;
    border-radius: 3px;
    padding: 13px 13px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 15px;
    margin-top: -13px;
    cursor: pointer;
    background-color 0.5s ease;
}

form#go_signin > input:hover {
    /*background-color: #FF6A00;*/
}

.menu {
    float: right;
    padding-top: 45px;
    position: relative;
}

a.notifications-icon {
    font-size: 21px;
    color: #fff;
}

a.notifications-icon:after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #FC4800;
    border-radius: 100%;
    right: 127px;
    top: 44px;
}

.notifications-li {
    color: #4F5D73;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 25px;
    margin-bottom: 25px;
    width: 100%;
}

.no-results-cont {
    text-align: center;
    margin-top: 55px;
}

.accepted-answer {
    background-color: #F2F7FF;
    border: 1px solid #BAD4E0;
}

.no-results-cont p {
    color: #4F5D73;
}

.no-results-message {
    display: inline-block;
    background-color: #FFF0F0;
    padding: 25px;
    border: 1px solid #FFC2BF;
    font-size: 20px;
    color: #F56E67;
}

.close-improvement {
    color: #F55363;
}

.improvement {
    color: #2DD660;
}

.added-tag {
    color: #0D9AFF;
}

li.notifications-li i {
    margin-right: 5px;
}

.menu li {
    margin-right: 10px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin-right: 10px;
    color: #fff;
    display: inline-block;
}

.ask-question {
    background-color: #F25D00;
    border-radius: 3px;
    padding: 13px 13px;
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    background-color 0.5s ease;
}

.ask-question:hover {
    background-color: #FF6A00;
}

.user-info {
/*    background-color: #fff;
    border-radius: 3px;
    padding: 13px 13px;*/
    color: #FFF;
/*    text-decoration: none;
    margin-left: 15px;*/
    text-decoration: none;
    background-color 0.5s ease;
}

.user-info:hover {

}

.logout {
    text-decoration: none;
}

.owner {
    color: #5C5C5C;
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
}

.owner img {
    border-radius: 100%;
    vertical-align: middle;
    height: 40px;
    margin: 0 5px;
}

.owner i {
    color: #4F5D73;
    margin-right: 5px;
    margin-left: 5px;
}

.owner span {
    color: #FF5E00;
}

.category {
    color: #fff;
    text-decoration: none;
}

.category:hover {
    text-decoration: underline;
}

/*section {
    padding: 0px calc(51% - 625px);
}*/

.section-how {
    width: 100%;
    background: #fff;
    padding-bottom: 150px;
}

.form-cont h1 {
    text-align: center;
    color: #595B67;
    font-weight: 400;
    font-size: 40px;
    margin: 30px auto 0;

}

.logo {
    background-image: url(/img/logo.png) no-repeat center;
    padding-top: 40px;
    height: 35px;
}

.form-search-question {
    text-align: center;
}

.input-search-question {
    width: 80%;
    border: 0;
    height: 40px;
    border-radius: 3px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 300;
    color: #606060;
}

button.search-submit {
    background-color: #F25D00;
    border: 0;
    color: #fff;
    height: 50px;
    width: 6%;
    display: inline-block;
    vertical-align: top;
    border-radius: 0px 3px 3px 0px;
    margin-left: -8px;
    cursor: pointer;
    position: relative;
}

.positioning:after {
    content: '\f002';
    font-family: FontAwesome;
    top: 13px;
    right: 65px;
    font-size: 21px;
    color: #fff;
}

.title {
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 36px;
    margin-top: 65px;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
}

.title span {
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: underline;
}

.how-it-works {
    background-color: #fff;
    border-radius: 3px;
    margin: 0 auto;
    width: 1024px;
}

.how-title {
    text-align: center;
    padding: 85px 0 65px;
    font-size: 26px;
    text-transform: uppercase;
    color: #4F5D73;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.how-title::after {
    content: '';
    position: absolute;
    width: 100px;
    background-color: #e4e4e4;
    display: block;
    top: 127px;
    height: 4px;
    left: 457px;
}

.unanswered-q {
    text-align: center;
    padding: 55px 0 64px;
    font-size: 26px;
    text-transform: uppercase;
    color: #4F5D73;
    font-family: 'Lato', sans-serif;
    position: relative;
}

.unanswered-q::after {
    content: '';
    position: absolute;
    width: 100px;
    background-color: #e4e4e4;
    display: block;
    top: 62%;
    height: 4px;
    left: 45%;
}

.showquestions .search-container,
.question .search-container {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 52px;
}

.showquestions input[type="text"], input[type="textarea"],
.question input[type="text"], input[type="textarea"] {
    border: 1px solid #e4e4e4;
    height: 38px;
    width: 805px;
}

.how-it-works h1 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #696969;
    margin-bottom: 0;
}

.how-cont {
    width: 30%;
    display: inline-block;
    margin-left: 24px;
    color: #fff;
}

.how-cont p {
    font-size: 15px;
    text-align: center;
    color: #666;
    margin-top: 10px;
}

.how-cont img {
    width: 75px;
    margin: 0 auto;
    display: block;
}

.suggestions-cont {
    background-color: #fff;
}

span.tags {
    color: #FC4800;
    font-size: 14px;
    display: inline-block;
}

span.tags a {
    color: #FC4800;
    text-decoration: none;
}

.tags-cont {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 15px;
}

a.respuesta-titulo {
    font-size: 26px;
    color: #5C5C5C;
    text-decoration: none;
}

a.respuesta-titulo:hover {
    text-decoration: underline;
    color: #FF5E00;
}

.suggestion-wrapper {
    width: 933px;
    display: block;
    margin: 15px auto 95px auto;
}

ul.suggestions-cont,
.question-cont {
    margin-bottom: 50px;
}

.question-cont {
    background-color: #fff;
}

a.back-btn {
    margin: 35px 0;
    display: inline-block;
    color: #F25D00;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

a.back-btn:hover {
    text-decoration: underline;
}

ul.suggestions-cont li {
    width: 100%;
    text-align: left;
    margin-top: 35px;
    border-top: 1px solid #e4e4e4;
    padding-top: 35px;
}

ul.suggestions-cont li:first-child {
    margin-top: 0;
    border-top-width: 0;
    padding-top: 0;
}

.unanswered-questions-title {
    font-size: 25px;
    color: #595B67;
    font-weight: 700;
    background-color: #fff;
    padding: 20px;
}

.question-icon {
    display: inline-block;
    vertical-align: text-top;
}

.respuestas-total {
    display: inline-block;
    color: #B1B1B1;
    margin-left: 5px;
}

.tag-icon {
    display: inline-block;
    color: #5C5C5C;
    font-size: 14px;
}

.tag-icon i,
.respuestas-total i {
    color: #4F5D73;
    margin-right: 5px;
}

.tag-icon img {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    margin-top: -3px;
}

section.form-cont-ask form {
    width: 933px;
    background-color: #fff;
    margin: 30px auto 0;
    border-radius: 3px;
    padding: 30px 50px;
    box-shadow: 0 0 5px #CACACA;
}

section.form-cont-ask h1 {
    color: #65758C;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

section.form-cont-ask input,
section.form-cont-ask textarea {
    width: 96%;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
}

section.form-cont-ask textarea {
    margin-top: 20px;
    height: 100px;
    padding: 15px 15px;
    font-size: 15px;
}

h1.tags-title-form {
    margin-top: 20px !important;
}

div.preview {
    width: 870px;
    padding: 25px;
    border: 1px dotted #595B67;
    margin: 30px auto 0 ;
}

div.question-description h1,
div.answers h1,
div.question-description h2,
div.answers h2,
div.question-description h3,
div.answers h3,
div.question-description h4,
div.answers h4,
div.question-description h5,
div.answers h5,
div.question-description h6,
div.answers h6,
div[class^='editor-preview'] h1,
div[class^='editor-preview'] h2,
div[class^='editor-preview'] h3,
div[class^='editor-preview'] h4,
div[class^='editor-preview'] h5,
div[class^='editor-preview'] h6,
div.preview div.markdown h1,
div.preview div.markdown h2,
div.preview div.markdown h3,
div.preview div.markdown h4,
div.preview div.markdown h5,
div.preview div.markdown h6 {
    color: #65758C;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
}

div.question-description h1,
div.answers h1,
div[class^='editor-preview'] h1,
div.preview div.markdown h1 {
    font-size: 20px;
}
div.question-description h2,
div.answers h2,
div[class^='editor-preview'] h2,
div.preview div.markdown h2 {
    font-size: 18px;
}
div.question-description h3,
div.answers h3,
div[class^='editor-preview'] h3,
div.preview div.markdown h3 {
    font-size: 16px;
}
div.question-description h4,
div.answers h4,
div[class^='editor-preview'] h4,
div.preview div.markdown h4 {
    font-size: 14px;
}
div.question-description h5,
div.answers h5,
div[class^='editor-preview'] h5,
div.preview div.markdown h5 {
    font-size: 12px;
}
div.question-description h6,
div.answers h6,
div[class^='editor-preview'] h6,
div.preview div.markdown h6 {
    font-size: 10px;
}

div.question-description ul,
div.answers ul,
div.question-description ol,
div.answers ol,
div.question-description li,
div.answers li,
div[class^='editor-preview'] ul,
div[class^='editor-preview'] ol,
div[class^='editor-preview'] li,
div.preview div.markdown ul,
div.preview div.markdown ol,
div.preview div.markdown li {
    margin-left: 5px;
    padding-left: 5px;
    color: #000;
}

div.question-description li,
div.answers li,
div[class^='editor-preview'] li,
div.preview div.markdown li {
    margin-top: 5px;
    display: list-item;
}

div.question-description table,
div.answers table,
div.question-description th,
div.answers th,
div.question-description td,
div.answers td,
div.preview div.markdown table,
div.preview div.markdown th,
div.preview div.markdown td {
    border-spacing: 10px 5px;
}

div.question-description table,
div.answers table,
div.question-description td,
div.answers td,
div.preview div.markdown table,
div.preview div.markdown td {
    border-radius: 3px;
    box-shadow: 0 0 3px #BFBDBD;
    padding: 5px 0px;
    margin: 10px 5px;
}

div.question-description th,
div.answers th,
div.question-description thead,
div.answers thead,
div[class^='editor-preview'] th,
div[class^='editor-preview'] thead,
div.preview div.markdown th,
div.preview div.markdown thead {
    border-radius: 5px;
    box-shadow: 0 0 3px #333;
    background-color: #EEE;
    padding: 2px 5px;
}

div.preview div.markdown code {
    font-size: larger;
    border-radius: 2px;
    box-shadow: 0 0 3px #5aa;
    background-color: #EEE;
    color: #333;
    padding: 0px 2px;
    margin: 0px;
}

div.question-description a,
div.answers a,
div[class^='editor-preview'] a,
div.preview div.markdown a {
    text-decoration: underline;
    font-weight: 400;
    color: #2C83FF;
}

div.question-description a:hover,
div.answers a:hover,
div[class^='editor-preview'] a:hover,
div.preview div.markdown a:hover {
    text-decoration: none;
    color: #8595AC;
}

input.cancel-ask,
input.submit-ask {
    display: inline-block;
    width: 124px !important;
    background-color: #B5B5B5;
    border: 0 !important;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.submit-ask {
    background-color: #4285F4 !important;
}

input[type="text"],
input[type="textarea"] {
    padding: 5px 15px;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
}

.question-description {
    margin: 40px 0 40px;
    color: #5C5C5C;
    font-size: 16px;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 20px;
}

.question-title {
    font-size: 32px;
    color: #595B67;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
}

.answers-title {
    font-size: 20px;
    color: #4F5D73;
    text-transform: uppercase;
    margin-bottom: 36px;
    font-family: 'Lato', sans-serif;
}

.leave-answers {
    font-size: 14px;
    color: #4F5D73;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
}

.answers {
    padding: 15px;
    border: 1px solid #DEDEDE;
    margin: 15px 0 20px;
    color: #4F4F4F;
    border-radius: 3px;
    background-color: #F5F5F5;
}

.author-name {
    color: #536C8F;
    font-weight: 700;
    display: inline-block;
}

.answer-author {
    color: #FF5E00;
}

.answer-date {
    display: inline-block;
    color: #b5b5b5;
}

.author-name img {
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.add-answer-input {
    padding: 15px;
    border: 2px solid #F1F1F1;
    display: block;
    width: 96%;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -15px;
}

.comment-box-question {
    padding: 15px;
    background-color: #FEFCF1;
    border: 1px solid #e4e4e4;
    color: #5C5C5C;
    font-size: 14px;
    margin-top: 10px;
}

.date {
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
    color: #5C5C5C;
    margin-top: 10px;
}

.comments-question-cont {
    padding-left: 35px;
}

.add-comment-cont {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 15px;
    margin: 35px 0 20px;
}

.answers-cont {
    margin-bottom: 70px;
}

.date i {
    color: #4F5D73;
}

.add-comment-cont a {
    color: #4F5D73;
    font-size: 14px;
}

.add-comment-cont a + a {
    float: right;
}

.add-button {
    height: 45px;
    border-radius: 3px;
    display: inline-block;
    width: 124px !important;
    background-color: #F25D00;
    border: 0 !important;
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.alert-box {
    font-size: 17px;
    width: 933px;
    display: block;
    background-color: #555;
    margin: 30px auto 0;
    border-radius: 3px;
    padding: 30px 50px;
    box-shadow: 0 0 5px #CACACA;
}

.alert-box span {
    font-weight: bold;
    text-transform: uppercase;
}

.error {
    background: #ffecec;
    border: 1px solid #f5aca6;
}

.success {
    background: #e9ffd9;
    border: 1px solid #a6ca8a;
}

.warning {
    background: #fff8c4;
    border: 1px solid #f2c779;
}

.notice {
    background: #e3f7fc;
    border: 1px solid #8ed9f6;
}

.search-container{
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 52px;
    background-color: #595B67;
    padding-top: 39px;
    margin-top: 0;
    text-align: center;
}

.body-home .search-container {
    background-color: transparent;
    border: 0;
}

h1.title.public {
    font-size: 40px;
    width: 54%;
    margin: 91px auto 120px auto;
}

h1.title.public span {
    color: #00D8FF;
    text-decoration: none;
}

p.nuuk-tip {
    color: #fff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.validation-cont,
.validation-positive,
.validation-negative,
a.val-pos,
a.val-neg,
.votes {
    display: inline-block;
}

.validation-cont {
    float: right;
    padding-right: 20px;
}

.validation-positive {
    margin-right: 10px;
}

a.val-pos,
a.val-neg {
    background-color: #2DD660;
    vertical-align: middle;
    border-radius: 3px;
    color: #fff;
    padding: 7px 10px;
}

a.val-neg {
    background-color: #F55363;
}

.votes {
    font-size: 18px;
}

.validation-positive .votes {
    color: #2DD660;
}

.validation-negative .votes {
    color: #F55363;
}

.unanswered .unanswered-link {
    color: blue;
}

.newest .newest-link {
    color: blue;
}

.newest .unlinked,
.unanswered .unlinked {
    color: white;
}

