html {
	height: 100%;
}
body {
	/*background: url(/img/bg.jpg) no-repeat center top, url(/img/bg.jpg) no-repeat center bottom;*/
    background-color: #e4e4e4;
    background-size: cover;
	height: 100%;
	padding:0;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
    ;
}

.body-home {
    background: url(/img/bg.jpg) no-repeat center top, url(/img/bg.jpg) no-repeat center bottom;
    background-size: cover;
}
.body-home header {
    background-color: transparent;
}

.body-home .suggestion-wrapper {
    width: 1050px;
}

header {
    width: 100%
    margin: 0 auto;
    height: 115px;
    background-color: #595B67;
}

.header-wrapper {
    width: 930px;
    margin: 0 auto;
}

form#go_signin {
    width: auto;
    float: right;
    margin-top: 50px;
}
form#go_signin > input {
    border: 0;
    background-color: #F25D00;
    border-radius: 3px;
    padding: 13px 13px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-left: 15px;
    margin-top: -13px;
    font-weight: 700;
    cursor: pointer;
    background-color 0.5s ease;
}

form#go_signin > input:hover {
    background-color: #FF6A00;
}

.menu {
    float: right;
    padding-top: 50px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin-right: 10px;
    color: #fff;
    display: inline-block;
}

.crear-pregunta {
    background-color: #F25D00;
    border-radius: 3px;
    padding: 13px 13px;
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    background-color 0.5s ease;
}

.crear-pregunta:hover {
    background-color: #FF6A00;
}

.category {
    color: #fff;
    text-decoration: none;
}

.category:hover {
    text-decoration: underline;
}

section {
    padding: 0px calc(51% - 625px);
}

.form-cont h1 {
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 40px;
    margin-top: 70px;
}

.logo {
    background-image: url(/img/logo.png) no-repeat center;
    padding-top: 40px;
}

.form-search-question{
    text-align: center;
}

.input-search-question {
    width: 70%;
    border:0;
    height: 40px;
    border-radius: 3px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 300;
    color: #606060;
}
input.search-submit {
    background: url(/img/search-icon.png) no-repeat center;
    background-color: #008EFF;
    border: 0;
    color: #fff;
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: top;
    border-radius: 0px 3px 3px 0px;
    margin-left: -8px;
    cursor: pointer;
}

.title {
    text-align: center;
    color: #fff;
    font-weight: 500;
    margin-top: 99px;
    margin-bottom: 0;
}

.title span {
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: underline;
}

.how-it-works {
    margin-top: 65px;
    padding: 44px calc(65% - 627px);
    background-color: rgba(23, 25, 35, 0.3);;
    border-radius: 3px;
}

.how-it-works h1 {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}

.how-cont {
    width: 30%;
    display: inline-block;
    margin-left: 24px;
    color: #fff;
}

.how-cont p {
    font-size: 15px;
    text-align: center;
}

.how-cont img {
    width: 75px;
    margin: 0 auto;
    display: block;
}


.suggestions-cont {
    position: absolute;
    background-color: #fff;
}

span.tags {
    color: #476C8F;
    background-color: #CAE1FA;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 14px;
    display: inline-block;
}

.tags-cont {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 15px;
}

a.respuesta-titulo {
    font-size: 23px;
    color: #65758C;
    text-decoration: none;
}

a.respuesta-titulo:hover {
    text-decoration: underline;
}

.suggestion-wrapper {
    width: 933px;
    display: block;
    margin: 60px auto 0 auto;
}

ul.suggestions-cont,
.question-cont {
    width: 865px;
    border-radius: 3px;
    padding: 35px;
    box-shadow: 0 0 3px #BFBDBD;
    margin-bottom: 50px;
}

.question-cont {
    background-color: #fff;
}

ul.suggestions-cont li {
    width: 100%;
    text-align: left;
    margin-top: 22px;
    border-top: 1px solid #F0F0F0;
    padding-top: 15px;
}

ul.suggestions-cont li:first-child {
    margin-top: 0;
    border-top-width: 0;
    padding-top: 0;
}

.unanswered-questions-title {
    font-size: 25px;
    color: #595B67;
    font-weight: 700;
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 3px #BFBDBD;
}

.question-icon {
    display: inline-block;
    vertical-align: text-top;
}

.respuestas-total {
    display: inline-block;
    color: #B1B1B1;
    font-size: 19px;
    margin-left: 20px;
}

.tag-icon {
    display: inline-block;
    color: #476C8F;
    margin-right: 10px;
}

.tag-icon img {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    margin-top: -3px;
}

section.form-cont-ask form {
    width: 933px;
    background-color: #fff;
    margin: 80px auto 0;
    border-radius: 3px;
    padding: 30px 50px;
    box-shadow: 0 0 5px #CACACA;
}

section.form-cont-ask h1 {
    color: #65758C;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

section.form-cont-ask input,
section.form-cont-ask textarea {
    width: 96%;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
}

section.form-cont-ask textarea  {
    margin-top: 20px;
    height: 100px;
        padding: 15px 15px;
    font-size: 15px;
}

h1.tags-title-form {
    margin-top: 20px !important;
}

input.cancel-ask,
input.submit-ask {
    display: inline-block;
    width: 124px !important;
    background-color: #B5B5B5;
    border: 0 !important;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 10px;
cursor: pointer;
}

.submit-ask {
background-color: #4285F4 !important;
}

input[type="text"],
input[type="textarea"]  {
    padding: 5px 15px;
    font-size: 15px;
}

.question-description {
    padding: 15px;
    border: 2px solid #F1F1F1;
    margin: 25px 0 15px;
    color: #4F4F4F;
    border-radius: 3px;
    background-color: #F9F9F9;
}

.question-title {
    font-size: 30px;
    color: #595B67;
    font-weight: 700;
    margin-bottom: 5px;
}

.answers-title {
    font-size: 20px;
    font-weight: 700;
    color: #595B67;
    border-top: 1px solid #F1F1F1;
    padding-top: 25px;
    margin-top: 25px;
}

.answers {
    padding: 15px;
    border: 2px solid #F1F1F1;
    margin: 15px 0;
    color: #4F4F4F;
    border-radius: 3px;
}

.author-name {
    color: #536C8F;
    font-weight: 700;
    display: inline-block;
}

.answer-date {
    display: inline-block;
    color: #b5b5b5;
}

.author-name img {
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.add-answer-input {
    padding: 15px;
    border: 2px solid #F1F1F1;
    display: block;
    width: 96%;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -15px;
}

.add-button {
    height: 45px;
    border-radius: 3px;
    display: inline-block;
    width: 124px !important;
    background-color: #4285F4;
    border: 0 !important;
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}
