html {
    height: 100%;
}

body {
    /*background: url(/img/bg.jpg) no-repeat center top, url(/img/bg.jpg) no-repeat center bottom;*/
    background-color: #e4e4e4;
    background-size: cover;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;;
}

.body-home {
    background: url(/img/bg.jpg) no-repeat center top, url(/img/bg.jpg) no-repeat center bottom;
    background-size: cover;
}

.body-home header {
    background-color: transparent;
}

.body-home .suggestion-wrapper {
    width: 1050px;
}

header {
    width: 100% margin : 0 auto;
    height: 115px;
    background-color: #595B67;
}

.header-wrapper {
    width: 930px;
    margin: 0 auto;
}

form#go_signin {
    width: auto;
    float: right;
    margin-top: 50px;
}

form#go_signin > input {
    border: 0;
    background-color: #F25D00;
    border-radius: 3px;
    padding: 13px 13px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-left: 15px;
    margin-top: -13px;
    font-weight: 700;
    cursor: pointer;
    background-color 0.5s ease;
}

form#go_signin > input:hover {
    background-color: #FF6A00;
}

.menu {
    float: right;
    padding-top: 50px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin-right: 10px;
    color: #fff;
    display: inline-block;
}

.ask-question {
    background-color: #F25D00;
    border-radius: 3px;
    padding: 13px 13px;
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    background-color 0.5s ease;
}

.ask-question:hover {
    background-color: #FF6A00;
}

.user-info {
    background-color: #fff;
    border-radius: 3px;
    padding: 13px 13px;
    color: #F25D00;
    text-decoration: none;
    margin-left: 15px;
    background-color 0.5s ease;
}

.user-info:hover {
    background-color: #fff;
}

.logout {
    background-color: #fff;
    border-radius: 3px;
    padding: 8px 8px;
    color: #F25D00;
    text-decoration: none;
    margin-left: 3px;
}

.owner {
    float: right;
    color: #476C8F;
    font-size: x-small;
}

.owner span {
    font-size: small;
}

.category {
    color: #fff;
    text-decoration: none;
}

.category:hover {
    text-decoration: underline;
}

section {
    padding: 0px calc(51% - 625px);
}

.form-cont h1 {
    text-align: center;
    color: #595B67;
    font-weight: 400;
    font-size: 40px;
    margin: 30px auto 0;

}

.logo {
    background-image: url(/img/logo.png) no-repeat center;
    padding-top: 40px;
}

.form-search-question {
    text-align: center;
}

.input-search-question {
    width: 92%;
    border: 0;
    height: 40px;
    border-radius: 3px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 300;
    color: #606060;
}

input.search-submit {
    background: url(/img/search-icon.png) no-repeat center;
    background-color: #008EFF;
    border: 0;
    color: #fff;
    height: 50px;
    width: 5%;
    display: inline-block;
    vertical-align: top;
    border-radius: 0px 3px 3px 0px;
    margin-left: -8px;
    cursor: pointer;
}

.title {
    text-align: center;
    color: #fff;
    font-weight: 500;
    margin-top: 99px;
    margin-bottom: 0;
}

.title span {
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: underline;
}

.how-it-works {
    margin-top: 65px;
    padding: 44px calc(65% - 627px);
    background-color: rgba(23, 25, 35, 0.3);;
    border-radius: 3px;
}

.how-it-works h1 {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}

.how-cont {
    width: 30%;
    display: inline-block;
    margin-left: 24px;
    color: #fff;
}

.how-cont p {
    font-size: 15px;
    text-align: center;
}

.how-cont img {
    width: 75px;
    margin: 0 auto;
    display: block;
}

.suggestions-cont {
    position: absolute;
    background-color: #fff;
}

span.tags {
    color: #476C8F;
    background-color: #CAE1FA;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 14px;
    display: inline-block;
}

span.tags a {
    color: #476C8F;
    text-decoration: none;
}

.tags-cont {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 15px;
}

a.respuesta-titulo {
    font-size: 23px;
    color: #65758C;
    text-decoration: none;
}

a.respuesta-titulo:hover {
    text-decoration: underline;
}

.suggestion-wrapper {
    width: 933px;
    display: block;
    margin: 60px auto 0 auto;
}

ul.suggestions-cont,
.question-cont {
    width: 865px;
    border-radius: 3px;
    padding: 35px;
    box-shadow: 0 0 3px #BFBDBD;
    margin-bottom: 50px;
}

.question-cont {
    background-color: #fff;
}

ul.suggestions-cont li {
    width: 100%;
    text-align: left;
    margin-top: 22px;
    border-top: 1px solid #F0F0F0;
    padding-top: 15px;
}

ul.suggestions-cont li:first-child {
    margin-top: 0;
    border-top-width: 0;
    padding-top: 0;
}

.unanswered-questions-title {
    font-size: 25px;
    color: #595B67;
    font-weight: 700;
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 3px #BFBDBD;
}

.question-icon {
    display: inline-block;
    vertical-align: text-top;
}

.respuestas-total {
    display: inline-block;
    color: #B1B1B1;
    font-size: 19px;
    margin-left: 20px;
}

.tag-icon {
    display: inline-block;
    color: #476C8F;
    margin-right: 10px;
}

.tag-icon img {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    margin-top: -3px;
}

section.form-cont-ask form {
    width: 933px;
    background-color: #fff;
    margin: 30px auto 0;
    border-radius: 3px;
    padding: 30px 50px;
    box-shadow: 0 0 5px #CACACA;
}

section.form-cont-ask h1 {
    color: #65758C;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

section.form-cont-ask input,
section.form-cont-ask textarea {
    width: 96%;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
}

section.form-cont-ask textarea {
    margin-top: 20px;
    height: 100px;
    padding: 15px 15px;
    font-size: 15px;
}

h1.tags-title-form {
    margin-top: 20px !important;
}

div.preview {
    width: 870px;
    padding: 25px;
    border: 1px dotted #595B67;
    margin: 30px auto 0 ;
}

div[class^='editor-preview'] h1,
div[class^='editor-preview'] h2,
div[class^='editor-preview'] h3,
div[class^='editor-preview'] h4,
div[class^='editor-preview'] h5,
div[class^='editor-preview'] h6,
div.preview div.markdown h1,
div.preview div.markdown h2,
div.preview div.markdown h3,
div.preview div.markdown h4,
div.preview div.markdown h5,
div.preview div.markdown h6 {
    color: #65758C;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
}

div[class^='editor-preview'] h1,
div.preview div.markdown h1 {
    font-size: 20px;
}
div[class^='editor-preview'] h2,
div.preview div.markdown h2 {
    font-size: 18px;
}
div[class^='editor-preview'] h3,
div.preview div.markdown h3 {
    font-size: 16px;
}
div[class^='editor-preview'] h4,
div.preview div.markdown h4 {
    font-size: 14px;
}
div[class^='editor-preview'] h5,
div.preview div.markdown h5 {
    font-size: 12px;
}
div[class^='editor-preview'] h6,
div.preview div.markdown h6 {
    font-size: 10px;
}

div[class^='editor-preview'] ul,
div[class^='editor-preview'] ol,
div[class^='editor-preview'] li,
div.preview div.markdown ul,
div.preview div.markdown ol,
div.preview div.markdown li {
    margin-left: 5px;
    padding-left: 5px;
    color: #000;
}

div[class^='editor-preview'] li,
div.preview div.markdown li {
    margin-top: 5px;
    display: list-item;
}

div.preview div.markdown table,
div.preview div.markdown th,
div.preview div.markdown td {
    border-spacing: 10px 5px;
}

div.preview div.markdown table,
div.preview div.markdown td {
    border-radius: 3px;
    box-shadow: 0 0 3px #BFBDBD;
    padding: 5px 0px;
    margin: 10px 5px;
}

div[class^='editor-preview'] th,
div[class^='editor-preview'] thead,
div.preview div.markdown th,
div.preview div.markdown thead {
    border-radius: 5px;
    box-shadow: 0 0 3px #333;
    background-color: #EEE;
    padding: 2px 5px;
}

div.preview div.markdown code {
    font-size: larger;
    border-radius: 2px;
    box-shadow: 0 0 3px #5aa;
    background-color: #EEE;
    color: #333;
    padding: 0px 2px;
    margin: 0px;
}

div[class^='editor-preview'] a,
div.preview div.markdown a {
    text-decoration: underline;
    font-weight: 400;
    color: #65758C;
}

div[class^='editor-preview'] a:hover,
div.preview div.markdown a:hover {
    text-decoration: none;
    font-weight: 600;
    color: #8595AC;
}

input.cancel-ask,
input.submit-ask {
    display: inline-block;
    width: 124px !important;
    background-color: #B5B5B5;
    border: 0 !important;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.submit-ask {
    background-color: #4285F4 !important;
}

input[type="text"],
input[type="textarea"] {
    padding: 5px 15px;
    font-size: 15px;
}

.question-description {
    padding: 15px;
    border: 2px solid #F1F1F1;
    margin: 25px 0 15px;
    color: #4F4F4F;
    border-radius: 3px;
    background-color: #F9F9F9;
}

.question-title {
    font-size: 30px;
    color: #595B67;
    font-weight: 700;
    margin-bottom: 5px;
}

.answers-title {
    font-size: 20px;
    font-weight: 700;
    color: #595B67;
    border-top: 1px solid #F1F1F1;
    padding-top: 25px;
    margin-top: 25px;
}

.answers {
    padding: 15px;
    border: 2px solid #F1F1F1;
    margin: 15px 0;
    color: #4F4F4F;
    border-radius: 3px;
}

.author-name {
    color: #536C8F;
    font-weight: 700;
    display: inline-block;
}

.answer-date {
    display: inline-block;
    color: #b5b5b5;
}

.author-name img {
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.add-answer-input {
    padding: 15px;
    border: 2px solid #F1F1F1;
    display: block;
    width: 96%;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -15px;
}

.add-button {
    height: 45px;
    border-radius: 3px;
    display: inline-block;
    width: 124px !important;
    background-color: #4285F4;
    border: 0 !important;
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.alert-box {
    font-size: 17px;
    width: 933px;
    display: block;
    background-color: #555;
    margin: 30px auto 0;
    border-radius: 3px;
    padding: 30px 50px;
    box-shadow: 0 0 5px #CACACA;
}

.alert-box span {
    font-weight: bold;
    text-transform: uppercase;
}

.error {
    background: #ffecec;
    border: 1px solid #f5aca6;
}

.success {
    background: #e9ffd9;
    border: 1px solid #a6ca8a;
}

.warning {
    background: #fff8c4;
    border: 1px solid #f2c779;
}

.notice {
    background: #e3f7fc;
    border: 1px solid #8ed9f6;
}

.search-container{
    font-size: 17px;
    width: 933px;
    display: block;
    margin: 30px auto 0;
    padding: 0 50px;
}