@import '../variables.scss';

body {
    background-color: #e4e4e4;
	padding: 0;
	margin: 0;
}

.suggestionWrapper {
    width: 933px;
    display: block;
    margin: 60px auto 0 auto;
}

----------------------------------------------
Unanswered styles

.unansweredQuestionsTitle {
    font-size: 25px;
    color: #595B67;
    font-weight: 700;
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 3px #BFBDBD;
}

.questionIcon {
    display: inline-block;
    vertical-align: text-top;
}

.respuestasTotal {
    display: inline-block;
    color: #B1B1B1;
    font-size: 19px;
    margin-left: 20px;
}

.tagIcon {
    display: inline-block;
    color: #476C8F;
    margin-right: 10px;
}

.tagIcon img {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    margin-top: -3px;
}