@import '../variables.scss';

:global .header {
  background-color: #595b67;
  height: 115px;
}

.container {
  width: 930px;
  margin: 0 auto;
}

.logo {
  background-image: url(./logo.png) no-repeat center;
  padding-top: 40px;
}

.go_signin {
  width: auto;
  float: right;
  margin-top: 50px;
}

.submit {
  border: 0;
  background-color: #f25d00;
  border-radius: 3px;
  padding: 13px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-left: 15px;
  margin-top: -13px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: #ff6a00;
  }
}
